/nbproject/private/
/build/
/dist/
/ProvaTable/nbproject/private/
/ProvaTable/build/
/ProvaTable/dist/
/ServerIDS/nbproject/private/
/ServerIDS/build/
/ServerIDS/dist/
/sfiga/nbproject/private/
/sfiga/build/
/sfiga/dist/